<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Student voices</title>
    {% block styles %}
    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='assets/student-voices-icon.png') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:wght@500;700;800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
    {% endblock %}
  </head>
  <body>
    <div class="container mt-3 flash-container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{ category if category != 'message' else 'info' }} alert-dismissible fade show shadow-sm border-0 mb-3"
        role="alert"
      >
        <div class="d-flex align-items-center">
          <span class="material-symbols-outlined me-2">
            {{ 'check_circle' if category == 'success' else 'error' if category
            == 'danger' else 'info' }}
          </span>
          <span>{{ message }}</span>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
      <div
        class="container-fluid ps-0 pe-2 d-flex flex-nowrap align-items-center"
      >
        <button
          id="menuToggle"
          class="btn btn-link text-dark text-decoration-none p-1 ms-2 ps-md-4 pe-md-3 me-1 mx-md-2"
          type="button"
          aria-label="Toggle sidebar"
        >
          <span class="material-symbols-outlined">menu</span>
        </button>

        <a
          class="navbar-brand d-flex align-items-center gap-2 pe-md-3 text-wrap"
          href="{{ url_for('get_all_posts') }}"
        >
          <img
            src="{{ url_for('static', filename='assets/img/fl-logo.svg') }}"
            alt="Future Learning logo"
            height="62"
          />
          <span class="brand-text d-flex flex-column">
            <span class="brand-title">Student voices</span>
            <span class="brand-tagline lh-sm small"
              >Stories and reflections from our students</span
            >
          </span>
        </a>
        <button
          class="navbar-toggler d-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <span class="material-symbols-outlined" style="vertical-align: middle"
            >menu</span
          >
        </button>
        <div
          class="collapse navbar-collapse d-none d-lg-flex"
          id="navbarResponsive"
        >
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
            <li class="nav-item">
              <a
                class="nav-link px-lg-3 py-3 py-lg-4"
                href="{{ url_for('get_all_posts') }}"
                >Home</a
              >
            </li>
            <!-- TODO: Only show Login/Register if user is logged out. Otherwise show "Log Out" -->
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a
                class="nav-link px-lg-3 py-3 py-lg-4"
                href="{{ url_for('login') }}"
                >Login</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link px-lg-3 py-3 py-lg-4"
                href="{{ url_for('login') }}"
                >Sign Up</a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a
                class="nav-link px-lg-3 py-3 py-lg-4"
                href="{{ url_for('logout') }}"
                >Log Out</a
              >
            </li>
            {% endif %}
            <li class="nav-item">
              <a
                class="nav-link px-lg-3 py-3 py-lg-4"
                href="{{ url_for('about') }}"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link px-lg-3 py-3 py-lg-4"
                href="{{ url_for('contact') }}"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="sidebarMenu"
      aria-labelledby="sidebarMenuLabel"
      data-bs-backdrop="false"
      data-bs-scroll="true"
    >
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="sidebarMenuLabel">Menu</h5>
      </div>

      <div class="offcanvas-body">
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <a
              href="{{ url_for('get_all_posts') }}"
              class="btn sidebar-heading d-inline-flex align-items-center rounded border-0 text-decoration-none"
            >
              <span class="material-symbols-outlined me-2">home</span>
              <span>Home</span>
            </a>
          </li>

          {% if current_user.is_authenticated %}
          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#dashboard-collapse"
              aria-expanded="false"
            >
              My stories
            </button>

            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="{{ url_for('user_stories', username_slug=current_user.slug) }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    My stories
                  </a>
                </li>
                <li>
                  <a
                    href="{{url_for('add_new_post')}}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    Create new story
                  </a>
                </li>
              </ul>
            </div>
          </li>
          {% endif %}

          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#orders-collapse"
              aria-expanded="false"
            >
              Topics
            </button>

            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="{{ url_for('show_topic', topic_name='Coming to Ireland') }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    Coming to Ireland
                  </a>
                </li>
                <li>
                  <a
                    href="{{ url_for('show_topic', topic_name='Life in Ireland') }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    Life in Ireland
                  </a>
                </li>
                <li>
                  <a
                    href="{{ url_for('show_topic', topic_name='Future plans') }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    Future plans
                  </a>
                </li>
                <li>
                  <a
                    href="{{ url_for('show_topic', topic_name='Other thoughts') }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    Other thoughts
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#account-collapse"
              aria-expanded="false"
            >
              Language level
            </button>

            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="{{ url_for('show_level', level_name='Beginner') }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    Beginner
                  </a>
                </li>
                <li>
                  <a
                    href="{{ url_for('show_level', level_name='Foundation') }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    Foundation
                  </a>
                </li>
                <li>
                  <a
                    href="{{ url_for('show_level', level_name='Stage 1') }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    Stage 1
                  </a>
                </li>
                <li>
                  <a
                    href="{{ url_for('show_level', level_name='Stage 2') }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    Stage 2
                  </a>
                </li>
                <li>
                  <a
                    href="{{ url_for('show_level', level_name='Stage 3') }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    Stage 3
                  </a>
                </li>
                <li>
                  <a
                    href="{{ url_for('show_level', level_name='Stage 4') }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    Stage 4
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#projects-collapse"
              aria-expanded="false"
            >
              Projects
            </button>

            <div class="collapse" id="projects-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="{{ url_for('get_all_projects') }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    All projects
                  </a>
                </li>

                {% if current_user.is_authenticated %}
                <li>
                  <a
                    href="{{ url_for('user_projects', username_slug=current_user.slug) }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    My projects
                  </a>
                </li>

                <li>
                  <a
                    href="{{ url_for('add_new_project') }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    Add new project
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </li>

          {% if current_user.is_authenticated %}
          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#marketplace-collapse"
              aria-expanded="false"
            >
              Student Marketplace
            </button>

            <div class="collapse" id="marketplace-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="{{ url_for('for_sale') }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    For sale
                  </a>
                </li>
                <li>
                  <a
                    href="{{ url_for('user_items', username_slug=current_user.slug) }}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    My items
                  </a>
                </li>
                <li>
                  <a
                    href="{{url_for('add_new_item')}}"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                  >
                    Add new item
                  </a>
                </li>
              </ul>
            </div>
          </li>
          {% endif %}

          <ul class="list-unstyled d-lg-none border-bottom pb-3 mb-3">
            <li>
              <a
                class="btn sidebar-heading d-inline-flex align-items-center rounded border-0 text-decoration-none"
                href="{{ url_for('about') }}"
                >About</a
              >
            </li>
            {% if current_user.is_authenticated %}
            <li>
              <a
                class="btn sidebar-heading d-inline-flex align-items-center rounded border-0 text-decoration-none"
                href="{{ url_for('logout') }}"
                >Log Out</a
              >
            </li>
            {% else %}
            <li>
              <a
                class="btn sidebar-heading d-inline-flex align-items-center rounded border-0 text-decoration-none"
                href="{{ url_for('login') }}"
                >Login</a
              >
            </li>
            {% endif %}
          </ul>
        </ul>
      </div>
    </div>
  </body>
</html>
