{% include "header.html" %}

<div class="container mt-5">
  <div class="row">
    <main id="mainContent" class="col-md-9 ps-5">
      {% for post in all_posts %}
      <div class="row mb-5 align-items-center">
        <div class="col-8">
          <a
            href="{{ url_for('show_post', post_id=post.id) }}"
            class="text-decoration-none text-dark"
          >
            <h2 class="fw-bold">{{ post.title }}</h2>
            <h3 class="h6 text-muted">{{ post.subtitle }}</h3>
          </a>
          <div class="post-meta d-flex align-items-center flex-wrap gap-2 mb-3">
            <img
              src="{{ post.author.img_url }}"
              alt="{{ post.author.name }}"
              class="rounded-circle border"
              style="width: 35px; height: 35px; object-fit: cover"
            />

            <span class="text-muted small">
              <a
                href="{{ url_for('user_stories', username_slug=post.author.slug) }}"
                class="text-decoration-none fw-bold text-dark"
              >
                {{ post.author.name }}
              </a>
               {{ post.date }}
            </span>

            <span class="badge rounded-pill bg-primary text-light px-3">
              {{ post.topic }}
            </span>

            <span class="badge rounded-pill bg-secondary text-light px-3">
              {{ post.level }}
            </span>

            {% if current_user.id == 1 %}
            <a
              href="{{ url_for('delete_post', post_id=post.id) }}"
              class="ms-auto text-danger"
            >
              <i class="fas fa-trash-alt"></i>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="col-4">
          <img
            src="{{ get_signed_url(post.cloudinary_public_id) or post.img_url }}"
            class="img-fluid rounded"
            alt="Post Image"
          />
        </div>
      </div>
      <hr />
      {% endfor %}
    </main>
  </div>
</div>

{% include "footer.html" %}
