{% block content %} {% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/login-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Log In</h1>
          <span class="subheading">Welcome Back!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto text-center">
        
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p class="flash" style="color: red;">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <h3 class="mb-4">School Access Only</h3>
        
        <a href="{{ url_for('login') }}" class="btn btn-outline-dark btn-lg">
          <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
          Sign in with FL Account
        </a>

        <p class="mt-4 text-muted small">
          Please use your <strong>@your-school.ie</strong> email address to access the blog.
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %} {% endblock %}
